<div class="typography-container">
    <div class="header-item">
      <span class="header-label">header 1</span>
      <h1 class="custom-h1">Light Bootstrap Table Heading</h1>
    </div>
    <div class="header-item">
      <span class="header-label">header 2</span>
      <h2 class="custom-h2">Light Bootstrap Table Heading</h2>
    </div>
    <div class="header-item">
      <span class="header-label">header 3</span>
      <h3 class="custom-h3">Light Bootstrap Table Heading</h3>
    </div>
    <div class="header-item">
      <span class="header-label">header 4</span>
      <h4 class="custom-h4">Light Bootstrap Table Heading</h4>
    </div>
    <div class="header-item">
      <span class="header-label">header 5</span>
      <h5 class="custom-h5">Light Bootstrap Table Heading</h5>
    </div>
    <div class="header-item">
      <span class="header-label">header 6</span>
      <h6 class="custom-h6">Light Bootstrap Table Heading</h6>
    </div>
  </div>
  