<!-- sidebar.component.html -->
<div class="sidebar">
  <mat-nav-list>
    <mat-list-item (click)="navigateToDashboard()">
      <mat-icon>dashboard</mat-icon> Dashboard
    </mat-list-item>
    <mat-list-item (click)="navigateToUserProfile()">
      <mat-icon>person</mat-icon> User Profile
    </mat-list-item>
    <mat-list-item (click)="navigateToTableList()">
      <mat-icon >table_chart</mat-icon> Table List
    </mat-list-item>
    <mat-list-item (click)="navigateToTypography()">
      <mat-icon>text_fields</mat-icon> Typography
    </mat-list-item>
    <mat-list-item (click)="navigateToIcons()">
      <mat-icon>insert_photo</mat-icon> Icons
    </mat-list-item>
    <mat-list-item>
      <mat-icon>map</mat-icon> Maps
    </mat-list-item>
    <mat-list-item>
      <mat-icon>notifications</mat-icon> Notifications
    </mat-list-item>
  </mat-nav-list>
</div>
