.dashboard-container {
  margin-left: 250px; /* Adjust margin as per your layout */
  padding: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

mat-card {
  flex: 1;
  min-width: 400px; /* Adjust minimum width as needed */
  overflow: hidden; /* Ensure contents don't overflow */
  padding: 20px; /* Add padding inside the card */
  box-sizing: border-box; /* Include padding in total width */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for card */
  display: flex; /* Ensure card contents are flexed */
  flex-direction: column; /* Arrange contents vertically */
}

mat-card h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

app-chart {
  flex: 1; /* Take up remaining space within mat-card */
  display: flex; /* Ensure chart is flexed */
  justify-content: center; /* Center chart horizontally */
  align-items: center; /* Center chart vertically */
  width: 100%; /* Occupy full width of mat-card */
  max-height: 400px; /* Example value, adjust as necessary */
}

canvas {
  max-width: 100%; /* Ensure canvas doesn't exceed container width */
  max-height: 100%; /* Ensure canvas doesn't exceed container height */
}
