<!-- dashboard.component.html -->
<div class="dashboard-container">
  <div class="cards-container">
    <mat-card>
      <h2>Email Statistics</h2>
      <app-chart [data]="emailStatisticsData" [type]="'pie'"></app-chart>
    </mat-card>
    <mat-card>
      <h2>Users Behavior</h2>
      <app-chart [data]="usersBehaviorData" [type]="'line'"></app-chart>
    </mat-card>
  </div>
  <div class="cards-container">
    <mat-card>
      <h2>2014 Sales</h2>
      <app-chart [data]="salesData" [type]="'bar'"></app-chart>
    </mat-card>
    <mat-card>
      <h2>Tasks</h2>
      <app-chart [data]="tasksData" [type]="'bar'"></app-chart>
    </mat-card>
  </div>
</div>
