/* src/styles.css */


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  color: white;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1000;
}

.main-content {
  margin-left: 250px;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

mat-nav-list {
  width: 100%;
  padding: 0;
}

mat-list-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

mat-list-item:hover {
  background-color: #495057;
}

mat-icon {
  margin-right: 15px;
}

mat-card {
  margin: 15px 0;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-h1 {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: -0.015625em;
  line-height: 1.167;
}

.custom-h2 {
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: -0.0083333333em;
  line-height: 1.2;
}

.custom-h3 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.167;
}

.custom-h4 {
  font-size: 2.125rem;
  font-weight: 400;
  letter-spacing: 0.0073529412em;
  line-height: 1.235;
}

.custom-h5 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.334;
}

.custom-h6 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  line-height: 1.6;
}