/* table-list.component.css */
.mat-card {
  margin: 20px;
}

.mat-card-title {
  font-size: 24px;
  font-weight: 500;
}

table {
  width: 100%;
}

th.mat-header-cell, td.mat-cell {
  padding: 8px;
}

button {
  margin-right: 8px;
}

input[matInput] {
  width: 100%;
}

.status-active {
  color: green;
}

.status-completed {
  color: blue;
}

.status-pending {
  color: orange;
}

.status-abandoned{
  color: rgb(53, 138, 235);
}
